:root {
    --title-color: #322153;
    --title-family: 'Ubuntu', sans-serif;

    --primary-color: #34cb79;
}

* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-family);
    color: var(--title-color);
}